body, body.theme-light {
  .grid-background-animation {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAHFJREFUeJzt2sEJgDAMQNFs2dEsZEELdocWQV3hR/6DHHLLvyd6P1psY5yt6sQjM7+loPv+Oa/SES9DaAyhMYTGEBpDaAyhMYTGEBpDaAyhMYTGEBpDaAyhMYTGEBpDaAyhMYTGEBpDaAyhMYToD/9aC1j2LUASeR8QAAAAAElFTkSuQmCC") repeat 0 0;
  }
}
body.theme-dark {
  .grid-background-animation {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAG1JREFUeJzt2sEJwDAMxVAvkP3BE9aQ7JBSSGeQgx78u3V3ZOaIV9Uzui6OE9PVd/9as3XEzxAaQ2gMoTGExhAaQ2gMoTGExhAaQ2gMoTGExhAaQ2gMoTGExhAaQ2gMoTGExhAaQ2gMIbrhX2sDdd8QncujvIQAAAAASUVORK5CYII=") repeat 0 0;

  }
}


.grid-background-animation {
  animation: bg-scrolling-reverse 1.5s infinite;
  animation-timing-function: linear;
}


@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}

@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}