@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

#post-list-sort-and-search {
  @include padding-x();
  margin-bottom: var( --dm-spacing-secondary );

  > ul {
    @include reset-list();
    @include border-radius( var( --dm-border-radius-primary ) );
    background-color: var( --dm-color-secondary );
    padding: var( --dm-spacing-secondary );
    display: grid;
    align-items: end;
    grid-template-columns: 1fr;
    gap: var( --dm-spacing-secondary );

    > li {
      @include flex-row();
      gap: var( --dm-spacing-primary );

      &:first-of-type {
        justify-content: start;
        flex-wrap: wrap;
      }
      &:last-of-type {
        justify-content: end;
      }
      &.advance-search {
        @include flex-row();
        gap: var( --dm-spacing-primary );
        flex-wrap: wrap;
        justify-content: space-between;

        > .search-input {
          @include flex-row();
          gap: var( --dm-spacing-primary );
          flex-wrap: nowrap;
          order: 2;
          flex-grow: 1;
        }
        > .toggle-icons {
          @include flex-row();
          gap: var( --dm-spacing-primary );
          flex-wrap: nowrap;
          order: 1;

          #toggle-filter-query {
            order: 2;
          }
          #toggle-filter {
            order: 1;
          }
          #toggle-eye {
            order: 3;
          }
          > .icon {
            cursor: pointer;
          }
        }
        > .query-text {
          @include dm-font-small();
          --dm-text-small-color: var( --dm-color-white );
          display: block;
          order: 3;
          width: 100%;

          > span {
            @include dm-font-small();
            --dm-text-small-color: var( --dm-color-white );
          }
        }
      }
      .filter {
        display: flex;
        flex-direction: column;
        gap: calc( var( --dm-spacing-primary ) / 3 );
        max-width: 100%;

        > label {
          @include limit-line-text(1);
          @include dm-font-medium();
          --dm-text-medium-color: var( --dm-color-white );
          --dm-text-medium-font-weight: 600;
        }
      }
      select, input, input:focus, input:focus-visible {
        @include limit-line-text(1);
        @include border-radius( var( --dm-border-radius-primary ) );
        @include dm-font-medium();
        padding: 4px 8px;
        border: 2px solid var( --dm-color-white );
        background-color: var( --dm-color-white );
        outline: none;
        word-break: break-all;

        ::selection {
          background-color: var(--dm-color-white) !important;
          color: var(--dm-color-gray-darken)  !important;
          -webkit-text-fill-color: var(--dm-color-gray-darken)  !important;
          text-shadow: unset !important;
        }
      }
      select {
        width: 100%;

        > option {
          @include dm-font-medium();
          --dm-text-medium-color: var( --dm-color-white );
          padding: 4px 8px;
          border: 1px solid var( --dm-color-white );
          background-color: var( --dm-color-primary );
          outline: none;
          word-break: break-all;

          &::selection, &:checked {
            background-color: var( --dm-color-white );
            --dm-text-medium-color: var( --dm-color-primary );
          }
          &:hover, &:focus, &:active {
            background-color: var( --dm-color-secondary );
            --dm-text-medium-color: var( --dm-color-white );
          }
        }
      }

      .post-search {
        width: 100%;
      }
      .post-search-submit {
        @include dm-button();
        @include dm-font-medium();
        --dm-text-medium-color: var( --dm-color-white );
        border: 2px solid var( --dm-color-white );
        background-color: var( --dm-color-primary );
        border-radius:  var( --dm-border-radius-primary ) !important;

        &:hover {
          background-color: var( --dm-color-secondary);
        }
      }
    }
  }
  .icon {
    @include flex-center();
    @include border-radius( var( --dm-border-radius-primary ) );
    padding: 6px 12px;
    border: 2px solid var( --dm-color-white );
    background-color: rgba(var( --dm-color-primary-rgb ), 1);

    > svg {
      @include svg-color( rgba( var( --dm-color-white-rgb ), 1 ) );
      @include fix-height(16px);
      width: auto;
      max-width: 100%;
    }
    &:hover {
      background-color: rgba(var( --dm-color-gray-darken-rgb ), 0.2);
    }
    &[aria-expanded="true"] {
      background-color: rgba(var( --dm-color-gray-darken-rgb ), 0.5);

      > svg {
        @include svg-color( rgba( var( --dm-color-white-rgb ), 0.8 ) );
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-medium) {
    > ul {
      > li {
        &.advance-search {
          > .search-input {
            order: 1;
            width: 100%;
          }
          > .toggle-icons {
            order: 2;
            width: 100%;
          }
        }
      }
    }
    .icon {
      width: 100%;
    }
  }
}

#post-list-sort-and-search {
  &[data-filters-number="0"] {
    > ul {
      grid-template-columns: 1fr;
    }
  }
  &[data-filters-number="1"] {
    > ul {
      grid-template-columns: 2fr 1fr;

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
      }
    }
    @media only screen and (max-width: $screen-desktop-small) {
      > ul {
        grid-template-columns: 2fr 1fr;
      }
    }
    @media only screen and (max-width: $screen-tablet-large) {
      > ul {
        grid-template-columns: 1.2fr 1fr;

        > .block-1 {
          grid-template-columns: repeat(2, 2fr);
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-medium) {
      > ul {
        grid-template-columns: repeat(1, 1fr);

        > .block-1 {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  &[data-filters-number="2"] {
    > ul {
      grid-template-columns: 2fr 1fr;

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
      }
    }
    @media only screen and (max-width: $screen-desktop-small) {
      > ul {
        > .block-1 {
          display: grid;
          grid-template-columns: repeat(2, 2fr);
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-large) {
      > ul {
        grid-template-columns: 1.5fr 1fr;
      }
    }
    @media only screen and (max-width: $screen-tablet-medium) {
      > ul {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        > .block-1 {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  &[data-filters-number="3"] {
    > ul {
      grid-template-columns: 2fr 1fr;

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
      }
    }
    @media only screen and (max-width: $screen-tablet-large) {
      > ul {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media only screen and (max-width: $screen-tablet-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(2, 2fr);

          .filter {
            &:nth-child(1) {
              grid-column: span 2;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(1, 1fr);

          .filter {
            &:nth-child(1) {
              grid-column: span 1;
            }
          }
        }
      }
    }
  }
  &[data-filters-number="4"] {
    > ul {
      grid-template-columns: 1.5fr 1fr;

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(4, 4fr);
      }
    }
    @media only screen and (max-width: $screen-desktop-medium) {
      > ul {
        grid-template-columns: 1.8fr 1fr;
      }
    }
    @media only screen and (max-width: $screen-tablet-large) {
      > ul {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    @media only screen and (max-width: $screen-tablet-small) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(2, 2fr);
        }
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  &[data-filters-number="5"] {
    > ul {
      grid-template-columns: 2fr 1fr;

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(5, 5fr);
      }
    }
    @media only screen and (max-width: $screen-desktop-small) {
      > ul {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media only screen and (max-width: $screen-tablet-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(4, 4fr);

          .filter {
            &:nth-child(1),
            &:nth-child(4),
            &:nth-child(5){
              grid-column: span 2;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-small) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(3, 3fr);

          .filter {
            &:nth-child(4),
            &:nth-child(5){
              grid-column: span 1;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-large) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(2, 2fr);
        }
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(1, 1fr);

          .filter {
            &:nth-child(1){
              grid-column: span 1;
            }
          }
        }
      }
    }
  }
  &[data-filters-number="6"] {
    > ul {
      grid-template-columns: 2fr 0.8fr;

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(6, 6fr);
      }
    }
    @media only screen and (max-width: $screen-desktop-small) {
      > ul {
        grid-template-columns: repeat(1, 1fr);
      }
    }
    @media only screen and (max-width: $screen-tablet-large) {
      > ul {
        .block-1 {
          grid-template-columns: repeat(4, 4fr);

          .filter {
            &:nth-child(1),
            &:nth-child(4){
              grid-column: span 2;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-small) {
      > ul {
        .block-1 {
          grid-template-columns: repeat(3, 3fr);

          .filter {
            &:nth-child(1),
            &:nth-child(4){
              grid-column: span 1;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-large) {
      > ul {
        .block-1 {
          grid-template-columns: repeat(2, 2fr);
        }
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        .block-1 {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  &[data-filters-number="7"] {
    > ul {
      grid-template-columns: 2fr 0.8fr;

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(7, 7fr);
      }
    }
    @media only screen and (max-width: $screen-desktop-medium) {
      > ul {
        grid-template-columns: 2fr 0.6fr;
      }
    }
    @media only screen and (max-width: $screen-desktop-small) {
      > ul {
        grid-template-columns: repeat(1, 1fr);

        > .block-1 {
          grid-template-columns: repeat(4, 4fr);

          .filter {
            &:nth-child(1) {
              grid-column: span 2;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-small) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(3, 3fr);

          .filter {
            &:nth-child(4) {
              grid-column: span 2;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-large) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(2, 2fr);

          .filter {
            &:nth-child(4) {
              grid-column: span 1;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(1, 1fr);

          .filter {
            &:nth-child(1) {
              grid-column: span 1;
            }
          }
        }
      }
    }
  }
  &[data-filters-number="8"] {
    > ul {
      grid-template-columns: repeat(1, 1fr);

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(6, 6fr);

        .filter {
          &:nth-child(1),
          &:nth-child(4),
          &:nth-child(7),
          &:nth-child(8) {
            grid-column: span 2;
          }
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-large) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(4, 4fr);
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-small) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(3, 3fr);

          .filter {
            &:nth-child(4),
            &:nth-child(7),
            &:nth-child(8) {
              grid-column: span 1;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-large) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(2, 2fr);

          .filter {
            &:nth-child(1) {
              grid-column: span 1;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
  &[data-filters-number="9"] {
    > ul {
      grid-template-columns: repeat(1, 1fr);

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(9, 9fr);
      }
    }
    @media only screen and (max-width: $screen-desktop-medium) {
      > ul {
        grid-template-columns: 1fr;

        > .block-1 {
          grid-template-columns: repeat(6, 6fr);

          .filter {
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
              grid-column: span 2;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-large) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(4, 4fr);
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-small) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(3, 3fr);

          .filter {
            &:nth-child(7),
            &:nth-child(8),
            &:nth-child(9) {
              grid-column: span 1;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-large) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(2, 2fr);

          .filter {
            &:nth-child(1), {
              grid-column: span 2;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(1, 1fr);

          .filter {
            &:nth-child(1), {
              grid-column: span 1;
            }
          }
        }
      }
    }
  }
  &[data-filters-number="10"] {
    > ul {
      grid-template-columns: repeat(1, 1fr);

      > .block-1 {
        display: grid;
        grid-template-columns: repeat(5, 5fr);
      }
    }
    @media only screen and (max-width: $screen-tablet-large) {
      > ul {
        grid-template-columns: 1fr;

        > .block-1 {
          grid-template-columns: repeat(4, 4fr);

          .filter {
            &:nth-child(1) {
              grid-column: span 3;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-tablet-small) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(3, 3fr);
        }
      }
    }
    @media only screen and (max-width: $screen-phone-large) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(2, 2fr);

          .filter {
            &:nth-child(1),
            &:nth-child(4){
              grid-column: span 2;
            }
          }
        }
      }
    }
    @media only screen and (max-width: $screen-phone-medium) {
      > ul {
        > .block-1 {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

body {
  #post-list-sort-and-search {
    display: none;
  }
}
body[java-script="true"] {
  #post-list-sort-and-search {
    display: block;
  }
}

body, body.theme-light {

}
body.theme-dark {

}
