@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-workstation-content {
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  width: 100%;

  > ul {
    @include reset-list();
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var( --dm-spacing-medium );
    padding: var( --dm-spacing-small ) var( --dm-spacing-large );
    align-items: start;
  }
  .visual {
    @include flex-row();
    @include flex-center();

    img, svg, .slider > .slider-wrapper > .slider-container .slider-element > img {
      box-sizing: border-box;
      width: 100%;
      max-width: 100%;
      height: 450px;
      object-position: center;
      object-fit: contain;
      filter: drop-shadow(-9px 5px 7px rgba(0, 0, 0, 0.2));
      padding: 10%;
    }
    svg {
      padding: 20%;
      height: 350px;
    }
    .card-bg {
      @include flex-row();
      @include flex-center();
      @include border-radius( var( --dm-border-radius-primary ));
      overflow: hidden;
      position: relative;
      background-color: var( --w-color-primary );
      background-image: radial-gradient(
          var(--w-color-primary) 0%,
          var(--w-color-secondary) 100%
      );
      width: 100%;
      height: 100%;
      padding: var( --dm-spacing-secondary );

      svg {
        @include svg-color( var( --w-text-color-on-bg ) );
        padding: 10%;
        object-fit: contain;
        object-position: center;
        width: 70%;
        height: 70%;
      }
    }
  }
  .title {
    @include dm-font-heading4();
    --dm-text-heading4-font-family: var( --w-title-font );
    font-weight: 600;
    text-transform: uppercase;
  }
  .text {
    @include dm-font-medium();
    --dm-text-medium-font-family: var( --w-text-font );
  }
  .product-list {
    @include reset-list();
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: var( --dm-spacing-primary );
  }
  .summary {
    @include flex-column();
    gap: var( --dm-spacing-secondary );
  }
  .slider {
    @include border-radius( var( --dm-border-radius-primary ));
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var( --w-color-primary );
    background-image: radial-gradient(
        var(--w-color-primary) 0%,
        var(--w-color-secondary) 100%
    );

    > .slider-container {
      > .slider-element {
        > img {
          padding: 10%;
          width: 100%;
          height: 450px;
        }
        > .number-text {
          @include dm-font-extra-small();
          --dm-text-extra-small-color: var(  --w-text-color-on-bg );
          background-color: var( --w-color-secondary );
          opacity: 0.8;
        }
      }
    }
    .prev, .next {
      opacity: 0.6;
      color: var( --w-text-color-on-bg );
      background-color: var( --w-color-secondary );

      &:hover {
        opacity: 1;
        color: var( --w-text-color-on-bg );
        background-color: var( --w-color-secondary );
      }
    }
  }
  .enumeration {
    @include reset-list();
    @include flex-column();
    gap: var( --dm-spacing-primary );

    > li {
      @include flex-row();
      gap: calc(var( --dm-spacing-primary) / 2);

      > svg {
        @include border-radius( 50% );
        @include svg-color(var( --w-text-color-on-bg ));
        background-color: var( --w-color-primary );
        box-sizing: border-box;
        object-position: center;
        object-fit: contain;
        width: 15px;
        height: 15px;
        padding: 4px;
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-medium ) {
    .product-list {
      grid-template-columns: repeat(3, 3fr);
    }
    .slider {
      > .slider-container {
        > .slider-element {
          > img {
            height: 350px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-small ) {
    .product-list {
      grid-template-columns: repeat(2, 2fr);
    }
    .slider {
      > .slider-container {
        > .slider-element {
          > img {
            height: 250px;
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-large ) {
    .visual {
      img, svg {
        height: 240px;
      }
    }
    .title {
      @include dm-font-heading5();
      --dm-text-heading5-font-family: var( --w-title-font );
    }
  }
  &[data-grid="2/1"] {
    > ul {
      grid-template-columns: 2fr 1fr;
    }
  }
  &[data-grid="1/2"] {
    > ul {
      grid-template-columns: 1fr 2fr;
    }
  }
  @media only screen and (max-width: $screen-desktop-small) {
    > ul {
      padding: var( --dm-spacing-tertiary);
      gap: var( --dm-spacing-tertiary );
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > ul {
      grid-template-columns: repeat(1, 1fr) !important;
    }
  }
  @media only screen and (max-width: $screen-tablet-medium) {
    > ul {
      padding: var( --dm-spacing-secondary);
      gap: var( --dm-spacing-secondary );
    }
    .product-list {
      grid-template-columns: repeat(2, 2fr);
    }
  }
  @media only screen and (max-width: $screen-phone-medium) {
    .product-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

body, body.theme-light {
  .dm-workstation-content {
    .title {
      --dm-text-heading4-color: var( --dm-color-gray-darken );
      --dm-text-heading5-color: var( --dm-color-gray-darken );
    }
    .text {
      @include dm-font-medium();
      --dm-text-medium-color: var( --dm-color-gray );
    }
    .visual {
      svg {
        @include svg-color(var( --w-color-secondary ));
      }
    }
  }
}
body.theme-dark {
  .dm-workstation-content {
    .title {
      --dm-text-heading4-color: var( --dm-color-white );
      --dm-text-heading5-color: var( --dm-color-white );
    }
    .text {
      @include dm-font-medium();
      --dm-text-medium-color: var( --dm-color-white );
    }
    .visual {
      svg {
        @include svg-color(var( --w-color-primary ));
      }
    }
  }
}
