@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-popup {
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba( var( --dm-color-black-rgb ) , 0.9 );
  transition: all 0.2s ease-in-out !important;
  animation-duration: 0.2s !important;

  > .popup-content {
    @include flex-center();
    box-sizing: border-box;
    height: 100%;
    padding: var( --dm-spacing-secondary );
    position: relative;
    overflow: hidden;
    animation-duration: 0.2s !important;
    transition: all 0.2s ease-in-out !important;
    animation-delay: 0.2s !important;
    transition-delay: 0.2s !important;

     img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: calc(100vh - var( --dm-spacing-secondary ) * 2);
      cursor: zoom-in;
      transition: all 0.3s ease-in-out;
    }

    > .slider {
      overflow: hidden;
      width: 100%;
      height: 100%;

      > .slider-wrapper {
        height: 100%;

        > .slider-container {
          height: 100%;

          > .slider-element {
            @include flex-center();

            > img {
              width: auto;
              max-width: 100%;
              height: auto;
              vertical-align: middle;
              object-position: center;
              object-fit: contain;
              padding: var( --dm-spacing-primary );

            }
            &.full-size {
              display: block !important;
              overflow: auto !important;
              align-items: flex-start !important;
              transition: all 0s ease-in-out;

              > img {
                display: block !important;
                transform-origin: unset !important;
                transform: unset !important;
                width: auto !important;
                height: auto !important;
                max-width: none !important;
                max-height: none !important;
                object-fit: unset !important;
                overflow: auto !important;
                padding: 0px !important;
                margin-left: auto !important;
                margin-right: auto !important;
                transition: all 0s ease-in-out;
              }
            }
          }
        }
      }
    }

    > .popup-close-button {
      @include dm-button();
      @include dm-font-small();
      padding: var( --dm-spacing-primary );
      --dm-text-small-color: var( --dm-color-white );
      background-color: var( --dm-color-primary );
      border: 2px solid;
      border-color: var( --dm-color-primary );
      height: auto;
      z-index: 1;
      position: absolute;
      top: var( --dm-spacing-tertiary );
      right: var( --dm-spacing-tertiary );

      &:hover {
        background-color: var( --dm-color-secondary );
        border-color: var( --dm-color-white );

        > svg {
          transform: rotate(90deg);
          transition: all 0.15s ease-in-out;
        }
      }

      > svg {
        transform: rotate(0deg);
        @include svg-color( var( --dm-color-white ) );
        transition: all 0.15s ease-in-out;
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-small) {
    > .popup-content {
      > .popup-close-button {
        top: var( --dm-spacing-secondary );
        right: var( --dm-spacing-secondary );
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-small) {
    > .popup-content {
      > .popup-close-button {
        top: var( --dm-spacing-secondary );
        right: var( --dm-spacing-primary );
      }
    }
  }
}
[data-popup="true"] {
  cursor: pointer;
}