@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-experience-categories {
  @include reset-list();
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: start;
  gap: var( --dm-spacing-secondary );
  padding: var( --dm-spacing-small ) 0;

  @media only screen and (max-width: $screen-desktop-small) {
    grid-template-columns: repeat(2, 1fr);
    gap: var( --dm-spacing-primary );
  }

  @media only screen and (max-width: $screen-tablet-large) {
    grid-template-columns: repeat(2, 1fr);
    gap: var( --dm-spacing-primary );
  }

  @media only screen and (max-width: $screen-phone-medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}
