@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-work-experience {
  @include padding-x();
  overflow: hidden;


  > container {
    > ul {
      @include reset-list();
      @include flex-center();
      display: flex;
      gap: var( --dm-spacing-large );

      > li {
        &:first-of-type {
          width: 40%;
          display: grid;
          gap: var( --dm-spacing-tertiary );

          > h2 {
            display: flex;
            align-items: center;

            > span {
              @include dm-font-heading1();
              --dm-text-heading1-font-family: var( --dm-font-family-secondary );
              --dm-text-heading1-color: var( --dm-color-primary );
              --dm-text-heading1-font-size: 50px;
              padding: var( --dm-spacing-primary ) var( --dm-spacing-tertiary );

              &:first-of-type {
                background-color: rgba( var( --dm-color-primary-rgb ), 0.9 );
                --dm-text-heading1-color: var( --dm-color-white );
              }
            }
          }
          > p {
            @include dm-font-default();
          }
        }
        &.projects-previews {
          width: 60%;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: start;
          justify-content: center;
          gap: 0px;

          .screen-container {
            @include flex-row();
            width: 65%;
            margin-left: -35%;
            justify-content: end;
            transition: all 0.3s ease-in-out;

            > img {
              width: auto;
              height: 540px;
              max-width: 100%;
              object-position: right;
              object-fit: contain;
            }
          }
          .cards-container {
            width: 75%;
            position: relative;
            perspective: 1400px;
            height: 500px;
            z-index: 1;
            transition: all 0.3s ease-in-out;

            > img {
              filter: saturate(0.7);
              position: absolute;
              width: auto;
              height: auto;
              max-width: 100%;
              box-shadow: 5px 5px 8px rgba( var( --dm-color-black-rgb ), 0.5 );
              transform-style: preserve-3d;

              &:hover {
                filter: saturate(1);
              }
            }
            .card-1 {
              width: 40%;
              left: 14%;
              top: 34%;
              transform: rotate3d(0, -1, -0.01, 55deg) translateZ(-30px);
            }
            .card-2 {
              width: 60%;
              left: 14%;
              bottom: 8%;
              transform: rotate3d(0, -1, -0.01, 55deg) translateZ(-20px);
            }
            .card-3 {
              width: 55%;
              right: 0%;
              top: 30%;
              transform: rotate3d(0, -1, -0.01, 55deg) translateZ(0px);
            }
            .card-4 {
              width: 76%;
              left: 22%;
              top: 10%;
              transform: rotate3d(0, -1, -0.01, 55deg) translateZ(20px);
            }
            .card-5 {
              width: 50%;
              right: 10%;
              bottom: 12%;
              transform: rotate3d(0, -1, -0.01, 55deg) translateZ(25px);
            }
            .bg {
              border-radius: 20%;
              content: "";
              position: absolute;
              z-index: -1;
              background-color: rgba( var( --dm-color-primary-rgb ), 0.6 );
              width: 60%;
              height: 60%;
              left: 40%;
              bottom: 20%;
              top: 20%;
              right: 0%;
              filter: blur(56px);
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-large) {
    > container {
      > ul {
        gap: var( --dm-spacing-medium );

        > li {
          &:first-of-type {
            > h2 {
              > span {
                --dm-text-heading1-font-size: 36px;
              }
            }
          }
          &.projects-previews {
            > .screen-container {
              > img {
                height: 520px;
              }
            }
            > .cards-container {
              height: 450px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-medium) {
    > container {
      > ul {
        gap: var( --dm-spacing-small );

        > li {
          &:first-of-type {
            > h2 {
              > span {
                @include dm-font-heading2();
                --dm-text-heading2-font-family: var( --dm-font-family-secondary );
                padding: var( --dm-spacing-primary );

                &:first-of-type{
                  --dm-text-heading2-color: var( --dm-color-white );
                }
                &:last-of-type{
                  --dm-text-heading2-color: var( --dm-color-primary );
                }
              }
            }
          }
          &.projects-previews {
            > .screen-container {
              > img {
                height: 450px;
              }
            }
            > .cards-container {
              height: 400px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-small) {
    > container {
      > ul {
        >  li {
          &.projects-previews {
            > .screen-container {
              margin-left: -35%;

              > img {
                height: 460px;
              }
            }
            > .cards-container {
              width: 85%;
              height: 400px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > container {
      > ul {
        >  li {
          &:first-of-type {
            > h2 {
              > span {
                @include dm-font-heading4();
                --dm-text-heading4-font-family: var( --dm-font-family-secondary );

                &:first-of-type{
                  --dm-text-heading4-color: var( --dm-color-white );
                }
                &:last-of-type{
                  --dm-text-heading4-color: var( --dm-color-primary );
                }
              }
            }
          }
          &.projects-previews {
            > .screen-container {
              > img {
                height: 340px;
              }
            }
            > .cards-container {
              height: 320px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-medium) {
    > container {
      > ul {
        flex-direction: column;
        > li {
          &:first-of-type {
            width: 100%;
          }
          &.projects-previews {
            width: 100%;

            > .screen-container {
              width: 50%;
              margin-left: -30%;
            }
            > .cards-container {
              width: 60%;
              margin-left: -20%;
              height: 300px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-small) {
    > container {
      > ul {
        > li {
          &:first-of-type {
            > h2 {
              > span {
                @include dm-font-heading6();
                --dm-text-heading6-font-family: var( --dm-font-family-secondary );

                &:first-of-type{
                  --dm-text-heading6-color: var( --dm-color-white );
                }
                &:last-of-type{
                  --dm-text-heading6-color: var( --dm-color-primary );
                }
              }
            }
          }
          &.projects-previews {
            > .screen-container {
                > img {
                  height: 320px;
                }
            }
            > .cards-container {
              width: 70%;
              margin-left: -30%;
              height: 270px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-large) {
    > container {
      > ul {
        > li {
          &:first-of-type {
            > h2 {
              flex-wrap: wrap;
            }
          }
          &.projects-previews {
            > .screen-container {
              > img {
                height: 320px;
              }
            }
            > .cards-container {
              margin-top: 5%;
              height: 240px;

              .bg {
                filter: blur(25px);
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-medium) {
    > container {
      > ul {
        > li {
          &.projects-previews {
            > .screen-container {
              > img {
                height: 280px;
              }
            }
            > .cards-container {
              width: 80%;
              height: 220px;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-small) {
    > container {
      > ul {
        > li {
          &:first-of-type {
            > h2 {
              > span {
                padding: calc( var( --dm-spacing-primary ) / 2);
              }
            }
          }
          &.projects-previews {
            > .screen-container {
              > img {
                height: 220px;
              }
            }
            > .cards-container {
              height: 180px;
            }
          }
        }
      }
    }
  }
}

body, body.theme-light {
  .dm-work-experience {
    > container {
      > ul {
        > li:first-of-type {
          > h2 {
            > span:last-of-type {
              background-color: rgba( var( --dm-color-gray-darken-rgb ), 0.9 );
              color: var( --dm-color-white );
            }
          }
          > p {
            --dm-text-default-color: var( --dm-color-gray );
          }
        }
      }
    }
  }
}

body.theme-dark {
  .dm-work-experience {
    > container {
      > ul {
        > li:first-of-type {
          > h2 {
            > span:last-of-type {
              background-color: rgba( var( --dm-color-white-rgb ), 1 );
              color: var(--dm-color-secondary );
            }
          }
          > p {
            --dm-text-default-color: var( --dm-color-white );
          }
        }
      }
    }
  }
}