@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-portfolio-showcase  {
  @include padding-x();
  overflow: hidden;
  position: relative;
  min-height: 786px;


  > container {
    display: flex;
    flex-direction: column;
    gap: var( --dm-spacing-medium );

    > ul {
      @include reset-list();
      display: grid;
      align-items: start;
      grid-template-columns: 2fr 1fr;
      gap: var( --dm-spacing-large );

      &:nth-child(2n) {
        direction: rtl;
      }
      > li {
        @include flex-column();
        gap: var( --dm-spacing-secondary );
        text-align: left;
        direction: ltr;

        .video-title {
          @include dm-font-heading1();
          --dm-text-heading1-font-family: var( --dm-font-family-secondary );

          &:after {
            position: relative;
            display: block;
            content: "";
            width: 100%;
            max-width: var( --dm-spacing-small );
            height: 3px;
            background-color: var( --dm-color-primary );
            transition: max-width 0.3s;
            transition-delay: 0.3s;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: 1;
            animation-name: growDivider;
            animation-fill-mode: both;

          }
        }
        p, div p, div ul li span {
          @include dm-font-default();

        }
        .video-timeline {
          > p {
            @include dm-font-small();
            --dm-text-small-font-weight: 600;
          }
          > ul {
            @include reset-list();
            @include flex-column();
            gap: calc( var( --dm-spacing-primary ) / 2);
            padding: 6px;

            > li {
              @include flex-row();
              align-items: center;
              gap: calc( var( --dm-spacing-primary ) / 2);

              > svg {
                @include border-radius( var( --dm-border-radius-primary ) );
                @include fix-size( 10px );
                padding: 3px;
              }
              > span {
                @include dm-font-small();
              }
            }
          }
        }
        > .video-description, > .video-description > *{
          @include dm-font-medium();
        }
        .dm-watch-on-youtube {
          --dm-color-yt-button: #FF3D00;
          @include flex-row();
          @include border-radius( var( --dm-border-radius-secondary ) );
          padding: var( --dm-spacing-primary ) var( --dm-spacing-secondary );
          align-items: center;
          gap: var( --dm-spacing-primary );
          width: fit-content;
          border-width: 1px;
          border-style: solid;
          border-color: var( --dm-color-yt-button );
          position: relative;
          transition: all 0.1s ease-in-out;
          text-align: center;

          &:before {
            @include border-radius( var( --dm-border-radius-secondary ) );
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            box-shadow: 0px 0px 0px var( --dm-color-yt-button );
            z-index: -1;
            transition: all 0.3s ease-in-out;

          }
          &:hover {
            &:before {
              box-shadow: 2px 5px 8px var( --dm-color-yt-button );
              transition: all 0.3s ease-in-out;
            }
          }

          > .icon {
            position: relative;
            @include fix-width( 44px );
            @include fix-height( 32px );

            &:before {
              content: "";
              position: absolute;
              top: 25%;
              bottom: 30%;
              right: 30%;
              left: 25%;
              background-color: var(--dm-color-white);
              z-index: -1;
            }
            > svg {
              @include svg-color( --dm-color-yt-button );
              width: 100%;
              height: auto;
              z-index: 2;
            }
          }

          > .text {
            @include dm-font-big();
            --dm-font-family: var( --dm-font-family-tertiary );
            --dm-text-big-font-weight: 500;
          }
        }
        > .video-container {
          @include border-radius( var( --dm-border-radius-secondary ) );
          overflow: hidden;
          width: 100%;
          max-width: 100%;
          box-shadow: 3px 6px 7px rgba(11, 11, 11, 0.2);
        }
      }
    }
  }
  /*
  &:after {
    position: absolute;
    content: "";
    width: 82vw;
    height: 159vh;
    background-color: rgba(var(--dm-color-primary-rgb),0.5);
    z-index: -1;
    left: -40vw;
    top: 0;
    transform: rotate(328deg);
  }
  */

  @media only screen and (max-width: $screen-desktop-medium) {
   > container {
      > ul {
        gap: var( --dm-spacing-small );
      }
   }
  }

  @media only screen and (max-width: $screen-desktop-small) {
    > container {
      gap: var( --dm-spacing-small );

      > ul {
        grid-template-columns: 1.8fr 1fr;

        > li {
          .video-title {
            @include dm-font-heading3();
            --dm-text-heading3-font-family: var( --dm-font-family-secondary );
          }
        }
      }
    }
  }

  @media only screen and (max-width: $screen-tablet-large) {
    > container {
      > ul {
        grid-template-columns: repeat(1, 1fr);
        gap: var( --dm-spacing-secondary );
      }
    }
    &:after {
      display: none;
      content: unset;
      opacity: 0;
    }
  }
  @media only screen and (max-width: $screen-phone-large) {
    > container {
      gap: var( --dm-spacing-secondary );
    }
  }
}

body, body.theme-light {
  .dm-portfolio-showcase {
    > container {
      > ul {
        > li {
          .video-title {
            --dm-text-heading1-color: var( --dm-color-gray );
            --dm-text-heading3-color: var( --dm-color-gray );
          }
          p, div p, div ul li span {
            --dm-text-default-color: var( --dm-color-gray );
          }

          .dm-watch-on-youtube {
            background-color: rgba( var( --dm-color-white-rgb ), 0.1);

            > .text {
              --dm-text-big-color: var( --dm-color-gray );
            }
            &:before {
              background: linear-gradient(
                  190deg,
                  rgba( var( --dm-color-gray-lighten-rgb ), 0.1 ) 40%,
                  rgba( var( --dm-color-gray-lighten-rgb ), 0.3 ) 90%
              );
              opacity: 0.6;
            }
            &:hover {
              &:before {
                background: linear-gradient(
                    190deg,
                    rgba( var( --dm-color-gray-lighten-rgb ), 0.1 ) 45%,
                    rgba( var( --dm-color-gray-lighten-rgb ), 0.3 ) 90%
                );
              }
              opacity: 1;
            }
          }
          > .video-description, > .video-description > *{
            --dm-text-medium-color: var( --dm-color-gray );
          }
          .video-timeline {
            > p {
              --dm-text-small-color: var( --dm-color-gray );
            }
            > ul {
              > li {
                > span {
                  --dm-text-small-color: var( --dm-color-gray );
                }
                > svg {
                  @include svg-color( var( --dm-color-primary ) );
                  background-color: rgba( var( --dm-color-gray-rgb ), 0.1 );
                }
              }
            }
          }
        }
      }
    }
  }
}

body.theme-dark {
  .dm-portfolio-showcase {
    > container {
      > ul {
        > li {
          .video-title {
            --dm-text-heading1-color: var( --dm-color-white );
            --dm-text-heading3-color: var( --dm-color-white );
          }
          p, div p, div ul li span {
            --dm-text-default-color: var( --dm-color-white );
          }
          > .video-description, > .video-description > *{
            --dm-text-medium-color: var( --dm-color-white );
          }
          .dm-watch-on-youtube {
            background-color: rgba( var( --dm-color-gray-darken-rgb ), 0.2);

            > .text {
              --dm-text-big-color: var( --dm-color-white );
            }
            &:before {
              background: linear-gradient(
                  190deg,
                  rgba(36,0,0,0) 20%,
                  var( --dm-color-yt-button ) 120%
              );
              opacity: 0.3;
            }
            &:hover {
              &:before {
                background: linear-gradient(
                    190deg,
                    rgba(36,0,0,0) 10%,
                    var( --dm-color-yt-button ) 100%
                );
                opacity: 0.4;
              }
            }
          }
          .video-timeline {
            > p {
              --dm-text-small-color: var( --dm-color-white );
            }
            > ul {
              > li {
                > span {
                  --dm-text-small-color: var( --dm-color-white );
                }
                > svg {
                  @include svg-color( var( --dm-color-white ) );
                  background-color: rgba( var( --dm-color-primary-rgb ), 0.6 );
                }
              }
            }
          }
        }
      }
    }
  }
}
