@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";


.dm-carousel-posts-list{
  @include padding-x;
  position: relative;
  overflow: hidden;

  > container {
    @include flex-column();
    gap: var(--dm-spacing-secondary);

    @media only screen and (max-width: $screen-tablet-small) {
      gap: var(--dm-spacing-primary);
    }
  }
}
