@import "../../functions/mixins.scss";
@import "../../functions/functions.scss";

.dm-resume-data {
  > container {
    > ul {
      @include reset-list();
      @include padding-x();
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1.2fr;
      gap: var( --dm-spacing-medium );

      > li {
        &:first-of-type {
          overflow: hidden;

          > ul {
            @include reset-list();
            display: grid;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: var( --dm-spacing-secondary );

          }
        }
        &:last-of-type {
          @include flex-column();
          gap: var( --dm-spacing-secondary );

          > div {
            @include flex-column();
            gap: var( --dm-spacing-secondary );
            overflow: hidden;

            &:first-of-type {
              position: relative;
              margin-top: -300px;

              > img {
                border-bottom-left-radius: var( --dm-border-radius-secondary );
                border-bottom-right-radius: var( --dm-border-radius-secondary );
                width: 100%;
                height: auto;
              }
            }
          }
          > p {
            @include dm-font-default();
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-large) {
    > container {
      > ul {
        grid-template-columns: 1.1fr 1fr;
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-medium) {
    > container {
      > ul {
        grid-template-columns: 1.2fr 1fr;
      }
    }
  }
  @media only screen and (max-width: $screen-desktop-small) {
    > container {
      > ul {
        grid-template-columns: 1fr 1.5fr;
        gap: var( --dm-spacing-tertiary );

        > li {
          &:last-of-type {
            > div {
              &:first-of-type {
                position: relative;
                margin-top: -400px;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > container {
      > ul {
        grid-template-columns: repeat(1, 1fr);

        > li {
          &:last-of-type {
            > div {
              &:first-of-type {
                margin-top: 0px;
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width: $screen-phone-large) {
    > container {
      > ul {
        grid-template-columns: repeat(1, 1fr);
        gap: var( --dm-spacing-secondary );

        > li {
          &:first-of-type {
            > ul {
              grid-template-columns: repeat(1, 1fr);
              gap: var( --dm-spacing-primary );
            }
          }
        }
      }
    }
  }
}

body, body.theme-light {
  .dm-resume-data {
    > container {
      > ul {
        > li {
          &:last-of-type {
            > div {
              > p {
                --dm-text-default-color: var( --dm-color-gray );
              }
            }
          }
        }
      }
    }
  }
}
body.theme-dark {
  .dm-resume-data {
    > container {
      > ul {
        > li {
          &:last-of-type {
            > div {
              > p {
                --dm-text-default-color: var( --dm-color-white );
              }
            }
          }
        }
      }
    }
  }
}
