@import "../functions/mixins.scss";

body {
    position: relative;
    font-family: var( --dm-font-family-primary );
    background-color: var( --dm-color-white);
    padding: 0;
    min-width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    direction: ltr;

  &:after {
    z-index: -2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba( var( --dm-color-black-rgb ), 0 );
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  &[data-overlay="true"] {
    overflow: hidden;

    &:after {
      z-index: 2;
      opacity: 1;
      background-color: rgba( var( --dm-color-black-rgb ), 0.7 );
    }
  }
}

ul,
ol {
  @include dm-font-default();
}

body,
div,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
a,
b,
span,
ul[class],
ol[class],
li, 
figure,
figcaption,
blockquote,
dl,
dd,
svg,
path,
label {
  margin: 0;
  @include transition( var( --dm-transition ) );
}

a {
    text-decoration: none;
  
    &:hover {
      text-decoration: none;
      color: var( --dm-link-color-primary );
    }
}

h1 { @include dm-font-heading1(); }
h2 { @include dm-font-heading2(); }
h3 { @include dm-font-heading3(); }
h4 { @include dm-font-heading4(); }
h5 { @include dm-font-heading5(); }
h6 { @include dm-font-heading6(); }

p {
    margin: 0;
    @include dm-font-default();
    @include transition( var( --dm-transition ) );
}

span,
a,
ul,
ol,
li,
nav,
label,
input
table th,
table td {
    @include dm-font-default();
}

svg {
    &[data-svg-type="fill"] {
      > path {
        @include transition( var( --dm-transition-svg-fill ) );
      }
    }
    &[data-svg-type="stroke"] {
      > path {
        @include transition( var( --dm-transition-svg-stroke ) );
      }
    }
}

#page-content {
  --header-height: 90px;
  display: flex;
  flex-direction: column;
  padding-top: var( --header-height );

  &:before {
    background-color: var( --dm-color-secondary );
    content: "";
    position: absolute;
    width: 100%;
    height: var( --header-height );
    top: 0;
    left: 0;
    right: 0;
    bottom: unset;
  }
}

container, .container {
  @include container( var( --dm-spacing-large ) );
  @include flex-column();
  position: relative;
}

.hide {
  display: none;
}
.page-heading {
  display: none;
}

.theme-dark {
    --dm-link-color-primary: var( --dm-color-highlight-primary );
    background-color: var( --dm-color-gray-darken );

    &[java-script=true] > * {
        ::selection {
            background-color: var(--dm-color-white) !important;
            color: var(--dm-color-gray-darken)  !important;
            -webkit-text-fill-color: var(--dm-color-gray-darken)  !important;
            text-shadow: unset !important;
        }
    }
}

body, .theme-light {
  --dm-link-color-primary: var( --dm-color-primary );
  background-color: var( --dm-color-white);

    &[java-script=true] > * {
        ::selection {
            background-color: var(--dm-color-gray-darken) !important;
            color: var(--dm-color-white) !important;
            -webkit-text-fill-color: var(--dm-color-white) !important;
            text-shadow: unset !important;
        }
    }
}
