@import "../functions/mixins.scss";
@import "../functions/functions.scss";

#footer {
  background-color: var( --dm-color-gray-darken );
  background-image: linear-gradient(to bottom,
    var(--dm-color-secondary ) -60%,
    var(--dm-color-gray-darken) 25%);
  padding: var( --dm-spacing-large ) 0;
  @include padding-x();

  > section {
    @include container();
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: var( --dm-spacing-tertiary );

    > .dm-footer-catalog, .dm-footer-contact {
      @include flex-column();
      gap: var( --dm-spacing-primary );

      > h5 {
        @include dm-font-medium();
        --dm-text-medium-color: var( --dm-color-white );
        --dm-text-medium-font-weight: 600;
      }
      > ul {
        @include reset-list();

        > li {
          display: flex;
          flex-shrink: 0;
          color: var( --dm-color-white );

          > a {
            @include flex-row();
            align-items: center;
            gap: calc( var( --dm-spacing-primary ) / 3 );

            &:hover {
              > span {
                --dm-text-small-color: var( --dm-color-highlight-primary );
              }
              > svg {
                @include svg-color( var( --dm-color-highlight-primary ) );
              }
            }
            > span {
              @include limit-line-text(1);
              @include dm-font-small();
              --dm-text-small-color: var( --dm-color-white );
            }
            > svg {
              @include fix-size( 10px );
              @include svg-color( var( --dm-color-white ) );
            }
          }
        }
      }
    }
    .dm-footer-contact {
      > ul {
        > li {
          > a {
            > svg {
              &:last-of-type {
                @include fix-width( auto );
                @include fix-height( 14px );
                padding: 2px;
              }
            }
          }
        }
      }
    }
    > .dm-socials-footer {
      @include flex-column();
      gap: var( --dm-spacing-primary );

      .dm-socials-list {
        > a {
          padding: calc( var( --dm-spacing-primary ) / 2 );

          > svg {
            @include fix-size(15px);
          }
        }
      }
      > h5 {
        @include dm-font-medium();
        --dm-text-medium-color: var( --dm-color-white );
        --dm-text-medium-font-weight: 600;
      }
    }
    > .dm-footer-copyrights {
      @include flex-column();


      > span {
        @include dm-font-small();
        --dm-text-small-color: var( --dm-color-white );
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    > section {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: $screen-phone-medium) {
    > section {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}