#header .dm-search {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid var(--dm-color-white);
  padding: calc(var(--dm-spacing-primary) / 2);
  transition: all 0.3s ease-in-out;
}

#header .dm-search svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

#header .dm-search:hover {
  background-color: var(---dm-color-primary  );
}
