:root {
  --dm-font-family-primary   : "Roboto", sans-serif;
  --dm-font-family-secondary : "Gerth", sans-serif;
  --dm-font-family-tertiary  : "Space Nation", sans-serif;
  --dm-font-family           : var(--dm-font-family-primary);
  --dm-text-extra-small-font-family    : var( --dm-font-family-primary );
  --dm-text-extra-small-font-size      : 10px;
  --dm-text-extra-small-font-style     : regular;
  --dm-text-extra-small-font-weight    : 400;
  --dm-text-extra-small-line-height    : 120%;
  --dm-text-extra-small-letter-spacing : 0;
  --dm-text-extra-small-color          : var( --dm-color-gray );
  --dm-text-small-font-family          : var( --dm-font-family-primary );
  --dm-text-small-font-size            : 12px;
  --dm-text-small-font-style           : regular;
  --dm-text-small-font-weight          : 400;
  --dm-text-small-line-height          : 160%;
  --dm-text-small-letter-spacing       : 0;
  --dm-text-small-color                : var( --dm-color-gray );
  --dm-text-medium-font-size           : 14px;
  --dm-text-medium-font-style          : normal;
  --dm-text-medium-font-weight         : normal;
  --dm-text-medium-line-height         : 20px;
  --dm-text-medium-color               : var( --dm-color-gray );
  --dm-text-default-font-size          : 16px;
  --dm-text-default-font-style         : normal;
  --dm-text-default-font-weight        : normal;
  --dm-text-default-line-height        : 24px;
  --dm-text-default-color              : var( --dm-color-gray );
  --dm-text-big-font-size              : 18px;
  --dm-text-big-font-style             : normal;
  --dm-text-big-font-weight            : normal;
  --dm-text-big-line-height            : 24px;
  --dm-text-big-color                  : var( --dm-color-gray );
  --dm-text-large-font-size            : 24px;
  --dm-text-large-font-style           : normal;
  --dm-text-large-font-weight          : bold;
  --dm-text-large-line-height          : 32px;
  --dm-text-large-color                : var( --dm-color-gray );
  --dm-text-heading1-font-family       : var( --dm-font-family-primary );
  --dm-text-heading1-font-size         : 32px;
  --dm-text-heading1-font-style        : regular;
  --dm-text-heading1-font-weight       : 700;
  --dm-text-heading1-line-height       : 140%;
  --dm-text-heading1-letter-spacing    : 0;
  --dm-text-heading1-color             : var( --dm-color-black );
  --dm-text-heading2-font-family       : var( --dm-font-family-primary );
  --dm-text-heading2-font-size         : 29px;
  --dm-text-heading2-font-style        : regular;
  --dm-text-heading2-font-weight       : 700;
  --dm-text-heading2-line-height       : 140%;
  --dm-text-heading2-letter-spacing    : 0;
  --dm-text-heading2-color             : var( --dm-color-black );
  --dm-text-heading3-font-family       : var( --dm-font-family-primary );
  --dm-text-heading3-font-size         : 26px;
  --dm-text-heading3-font-style        : regular;
  --dm-text-heading3-font-weight       : 700;
  --dm-text-heading3-line-height       : 140%;
  --dm-text-heading3-letter-spacing    : 0;
  --dm-text-heading3-color             : var( --dm-color-black );
  --dm-text-heading4-font-family       : var( --dm-font-family-primary );
  --dm-text-heading4-font-size         : 23px;
  --dm-text-heading4-font-style        : regular;
  --dm-text-heading4-font-weight       : 700;
  --dm-text-heading4-line-height       : 140%;
  --dm-text-heading4-letter-spacing    : 0;
  --dm-text-heading4-color             : var( --dm-color-black );
  --dm-text-heading5-font-family       : var( --dm-font-family-primary );
  --dm-text-heading5-font-size         : 20px;
  --dm-text-heading5-font-style        : regular;
  --dm-text-heading5-font-weight       : 700;
  --dm-text-heading5-line-height       : 140%;
  --dm-text-heading5-letter-spacing    : 0;
  --dm-text-heading5-color             : var( --dm-color-black );
  --dm-text-heading6-font-family       : var( --dm-font-family-primary );
  --dm-text-heading6-font-size         : 18px;
  --dm-text-heading6-font-style        : regular;
  --dm-text-heading6-font-weight       : 700;
  --dm-text-heading6-line-height       : 140%;
  --dm-text-heading6-letter-spacing    : 0;
  --dm-text-heading6-color             : var( --dm-color-black );
}
