@import "theme";

.dm-tab-list {
  display: block;
  padding: var(--dm-spacing-2xl) 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--dm-spacing-md);
  }
}

.dm-tab-list__labels {
  display: flex;
  flex-wrap: wrap;
  gap: var(--dm-spacing-xxs);
  scroll-margin-top: var(--dm-spacing-xl);
}

.dm-tab-list__label {
  padding: calc(var(--dm-spacing-xs) / 2) var(--dm-spacing-sm);
  border: 1px solid var(--dm-color-gray-light);
  border-radius: var(--dm-radius-sm);
  font-family: var(--dm-font-primary);
  font-size: var(--dm-font-size-md);
  font-weight: var(--dm-font-weight-medium);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  transition: var(--dm-transition);

  [mode="light"] & {
    color: var(--dm-color-primary-700);
    background-color: var(--dm-color-primary-100);
    border-color: var(--dm-color-primary-500);
  }
  [mode="dark"] & {
    color: var(--dm-color-primary-200);
    background-color: var(--dm-color-primary-800);
    border-color: var(--dm-color-primary-700);
  }
  &:hover {
    border-color: var(--dm-color-primary-600);
  }
}

.dm-tab-list__items {
  display: flex;
  flex-direction: column;
  gap: var(--dm-spacing-lg);
}

.dm-tab-list__item {
  scroll-margin-top: var(--dm-spacing-xl);
}
