@import "../interface-design/screens.scss";
@import "../functions/functions.scss";

:root {
    /* ---- Colors ---- */
    --dm-color-primary                      : #5e6875;
    --dm-color-secondary                    : #313c4a;
    --dm-color-highlight-primary            : #47cbe3;
    --dm-color-highlight-secondary          : #55758d;
    --dm-color-highlight-tertiary           : #dcc85e;
    --dm-color-status-primary               : #399017;
    --dm-color-status-secondary             : #eaaa07;
    --dm-color-status-tertiary              : #b23620;
    --dm-color-black                        : #000000;
    --dm-color-white                        : #ffffff;
    --dm-color-gray-lighten                 : #7e7e7e;
    --dm-color-gray                         : #222222;
    --dm-color-gray-darken                  : #141414;
    --dm-link-color-primary                 : var( --dm-color-highlight-primary );
    --dm-link-color-secondary               : var( --dm-color-highlight-secondary );

    --dm-color-primary-rgb                 : #{hexToRGB( #5e6875 )};
    --dm-color-secondary-rgb               : #{hexToRGB( #313c4a )};
    --dm-color-highlight-primary-rgb       : #{hexToRGB( #47cbe3 )};
    --dm-color-highlight-secondary-rgb     : #{hexToRGB( #55758d )};
    --dm-color-highlight-tertiary-rgb      : #{hexToRGB( #dcc85e )};
    --dm-color-black-rgb                   : #{hexToRGB( #000000 )};
    --dm-color-white-rgb                   : #{hexToRGB( #ffffff )};
    --dm-color-gray-lighten-rgb            : #{hexToRGB( #7e7e7e )};
    --dm-color-gray-rgb                    : #{hexToRGB( #222222 )};
    --dm-color-gray-darken-rgb             : #{hexToRGB( #141414 )};

}