

@mixin dm-font-extra-small() {
    font-family: var(--dm-text-extra-small-font-family);
    font-size: var(--dm-text-extra-small-font-size);
    font-style: var(--dm-text-extra-small-font-style);
    font-weight: var(--dm-text-extra-small-font-weight);
    line-height: var(--dm-text-extra-small-line-height);
    letter-spacing: var(--dm-text-extra-small-letter-spacing);
    color: var(--dm-text-extra-small-color);
}

@mixin dm-font-small() {
    font-family: var(--dm-font-family);
    font-size: var(--dm-text-small-font-size);
    font-style: var(--dm-text-small-font-style);
    font-weight: var(--dm-text-small-font-weight);
    line-height: var(--dm-text-small-line-height);
    color: var(--dm-text-small-color);
}

@mixin dm-font-medium() {
    font-family: var(--dm-font-family);
    font-size: var(--dm-text-medium-font-size);
    font-style: var(--dm-text-medium-font-style);
    font-weight: var(--dm-text-medium-font-weight);
    line-height: var(--dm-text-medium-line-height);
    color: var(--dm-text-medium-color);
}

@mixin dm-font-default() {
    font-family: var(--dm-font-family);
    font-size: var(--dm-text-default-font-size);
    font-style: var(--dm-text-default-font-style);
    font-weight: var(--dm-text-default-font-weight);
    line-height: var(--dm-text-default-line-height);
    color: var(--dm-text-default-color);
}

@mixin dm-font-big() {
    font-family: var(--dm-font-family);
    font-size: var(--dm-text-big-font-size);
    font-style: var(--dm-text-big-font-style);
    font-weight: var(--dm-text-big-font-weight);
    line-height: var(--dm-text-big-line-height);
    color: var(--dm-text-big-color);
}

@mixin dm-font-large() {
    font-family: var(--dm-font-family);
    font-size: var(--dm-text-large-font-size);
    font-style: var(--dm-text-large-font-style);
    font-weight: var(--dm-text-large-font-weight);
    line-height: var(--dm-text-large-line-height);
    color: var(--dm-text-large-color);
}


@mixin dm-font-heading1() {
    font-family: var(--dm-text-heading1-font-family);
    font-size: var(--dm-text-heading1-font-size);
    font-style: var(--dm-text-heading1-font-style);
    font-weight: var(--dm-text-heading1-font-weight);
    line-height: var(--dm-text-heading1-line-height);
    letter-spacing: var(--dm-text-heading1-letter-spacing);
    color: var(--dm-text-heading1-color);
}

@mixin dm-font-heading2() {
    font-family: var(--dm-text-heading2-font-family);
    font-size: var(--dm-text-heading2-font-size);
    font-style: var(--dm-text-heading2-font-style);
    font-weight: var(--dm-text-heading2-font-weight);
    line-height: var(--dm-text-heading2-line-height);
    letter-spacing: var(--dm-text-heading2-letter-spacing);
    color: var(--dm-text-heading2-color);
}

@mixin dm-font-heading3() {
    font-family: var(--dm-text-heading3-font-family);
    font-size: var(--dm-text-heading3-font-size);
    font-style: var(--dm-text-heading3-font-style);
    font-weight: var(--dm-text-heading3-font-weight);
    line-height: var(--dm-text-heading3-line-height);
    letter-spacing: var(--dm-text-heading3-letter-spacing);
    color: var(--dm-text-heading3-color);
}

@mixin dm-font-heading4() {
    font-family: var(--dm-text-heading4-font-family);
    font-size: var(--dm-text-heading4-font-size);
    font-style: var(--dm-text-heading4-font-style);
    font-weight: var(--dm-text-heading4-font-weight);
    line-height: var(--dm-text-heading4-line-height);
    letter-spacing: var(--dm-text-heading4-letter-spacing);
    color: var(--dm-text-heading4-color);
}

@mixin dm-font-heading5() {
    font-family: var(--dm-text-heading5-font-family);
    font-size: var(--dm-text-heading5-font-size);
    font-style: var(--dm-text-heading5-font-style);
    font-weight: var(--dm-text-heading5-font-weight);
    line-height: var(--dm-text-heading5-line-height);
    letter-spacing: var(--dm-text-heading5-letter-spacing);
    color: var(--dm-text-heading5-color);
}

@mixin dm-font-heading6() {
    font-family: var(--dm-text-heading6-font-family);
    font-size: var(--dm-text-heading6-font-size);
    font-style: var(--dm-text-heading6-font-style);
    font-weight: var(--dm-text-heading6-font-weight);
    line-height: var(--dm-text-heading6-line-height);
    letter-spacing: var(--dm-text-heading6-letter-spacing);
    color: var(--dm-text-heading6-color);
}