/* ---- Responsive Screens ---- */
$screen-desktop-large   : 1920px;
$screen-desktop-medium  : 1440px;
$screen-desktop-small   : 1240px;

$screen-tablet-large    : 992px;
$screen-tablet-medium   : 767px;
$screen-tablet-small    : 575px;

$screen-phone-large     : 420px;
$screen-phone-medium    : 375px;
$screen-phone-small     : 295px;