.component-slider {
  position: relative;
}

.component-slider .slider-item {
  display: none;
}

.component-slider .slider-item:first-child {
  display: block;
}

.slider-item-image {
  margin-bottom: 1rem;
}

.slider-image {
  max-width: 100%;
  height: auto;
}
