@import "theme";

.taxonomy-listing {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--dm-spacing-lg);

  h2 {
    margin: 0;
    font-size: var(--dm-font-size-xl);
    font-weight: var(--dm-font-weight-bold);
  }

  .taxonomy-items {
    gap: var(--dm-spacing-md);

    @media (max-width: $dm-screen-md) {
      gap: var(--dm-spacing-sm);
    }

    @media (max-width: $dm-screen-sm) {
      gap: var(--dm-spacing-xs);
    }
  }
}
