@import "theme";

.card-outline {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--dm-radius-md);

  [mode="dark"] & {
    background-color: rgb(from var(--dm-color-gray-dark) r g b / 0.8);
    border-color: rgb(from var(--dm-color-white) r g b / 0.3);
  }

  [mode="light"] & {
    background-color: rgb(from var(--dm-color-white) r g b / 0.8);
    border-color: rgb(from var(--dm-color-gray-dark) r g b / 0.3);
  }
}
