footer {
  background-color: var(--dm-color-secondary);
  border-top: 2px solid var(--dm-color-primary);

  container-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: var(--dm-spacing-xl);

    @media (max-width: var(--dm-screen-md)) {
      padding-block: var(--dm-spacing-lg);
    }
  }
}

.footer-copyrights {
  font-family: var(--dm-font-primary);
  font-size: var(--dm-font-size-sm);
  font-weight: var(--dm-font-weight-regular);
  color: var(--dm-color-white);
}
