@import "../variables/_breakpoints";
@import "../variables/_spacing";

$dm-spacers: (
  '0': 0,
  'auto': auto,
  'xxs': $dm-spacing-xxs,
  'xs': $dm-spacing-xs,
  'sm': $dm-spacing-sm,
  'md': $dm-spacing-md,
  'lg': $dm-spacing-lg,
  'xl': $dm-spacing-xl,
  '2xl': $dm-spacing-2xl,
  '3xl': $dm-spacing-3xl,
);

$dm-breakpoints: (
  'sm': $dm-screen-sm,
  'md': $dm-screen-md,
  'lg': $dm-screen-lg,
  'xl': $dm-screen-xl,
  '2xl': $dm-screen-2xl,
  '3xl': $dm-screen-3xl,
);

$dm-displays: (
  'block': block,
  'inline': inline,
  'inline-block': inline-block,
  'flex': flex,
  'inline-flex': inline-flex,
  'grid': grid,
  'none': none,
);

$dm-flex-direction: (
  'row': row,
  'row-reverse': row-reverse,
  'column': column,
  'column-reverse': column-reverse,
);

$dm-flex-wrap: (
  'wrap': wrap,
  'nowrap': nowrap,
  'wrap-reverse': wrap-reverse,
);

$dm-align-items: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'stretch': stretch,
  'baseline': baseline,
);

$dm-justify-content: (
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'between': space-between,
  'around': space-around,
  'evenly': space-evenly,
);

$dm-align-self: (
  'auto': auto,
  'start': flex-start,
  'center': center,
  'end': flex-end,
  'stretch': stretch,
  'baseline': baseline,
);

$dm-sizing: (
  '25': 25%,
  '50': 50%,
  '75': 75%,
  '100': 100%,
  'auto': auto,
);

$dm-text-align: (
  'start': left,
  'center': center,
  'end': right,
);

$dm-text-transform: (
  'lowercase': lowercase,
  'uppercase': uppercase,
  'capitalize': capitalize,
);

$dm-colors: (
  'primary': var(--dm-color-primary),
  'secondary': var(--dm-color-secondary),
  'accent-1': var(--dm-color-accent-1),
  'accent-2': var(--dm-color-accent-2),
  'accent-3': var(--dm-color-accent-3),
  'success': var(--dm-color-success),
  'warning': var(--dm-color-warning),
  'error': var(--dm-color-error),
  'black': var(--dm-color-black),
  'white': var(--dm-color-white),
  'gray': var(--dm-color-gray),
  'gray-light': var(--dm-color-gray-light),
  'gray-dark': var(--dm-color-gray-dark),
);
