@import "functions/mixins.scss";
@import "functions/functions.scss";

.dm-hobby-list {
  @include padding-x();
  background-color: var( ---dm-color-primary   );
  background: radial-gradient(var( --dm-color-primary ), var( --dm-color-secondary ) );
  padding-top: var( --dm-spacing-medium );
  padding-bottom: var( --dm-spacing-medium );
  overflow: hidden;
  position: relative;

  > container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: var( --dm-spacing-small );

    > h4 {
      @include dm-font-heading1();
      --dm-text-heading1-font-family: var( --dm-font-family-secondary );
      --dm-text-heading1-color: var( --dm-color-white );
      text-align: center;
    }

    > ul {
      @include reset-list();
      display: grid;
      grid-template-columns: repeat(4, 4fr);
      align-items: center;
      justify-content: center;
      gap: var( --dm-spacing-tertiary );
    }
  }

  @media only screen and (max-width: $screen-desktop-medium) {
    > container {
      > ul {
        gap: var( --dm-spacing-secondary )
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-large) {
    padding-top: var( --dm-spacing-tertiary );
    padding-bottom: var( --dm-spacing-tertiary );

    > container {
      > ul {
        grid-template-columns: repeat(2, 2fr);
      }
    }
  }
  @media only screen and (max-width: $screen-tablet-small) {
    > container {
      > ul {
        gap: var( --dm-spacing-primary );
      }
    }
  }
  @media only screen and (max-width: $screen-phone-large) {
    > container {
      > h4 {
        @include dm-font-heading3();
        --dm-text-heading3-font-family: var( --dm-font-family-secondary );
        --dm-text-heading3-color: var( --dm-color-white );
      }
    }
  }
  @media only screen and (max-width: $screen-phone-medium) {
    > container {
      > ul {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.dm-hobby-item {
  @include flex-center();
  @include border-radius( var( --dm-border-radius-primary ) );
  flex-direction: column;
  border: 2px solid var(  --dm-color-white );
  padding: var( --dm-spacing-secondary );
  gap: var( --dm-spacing-secondary );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  min-height: 200px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var( --dm-color-secondary );
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
  }
  &:hover {
    &:before {
      background-color: var( --dm-color-secondary );
      opacity: 0.85;
      transition: all 0.3s ease-in-out;
    }
    > .name {
      text-shadow: 3px 3px 10px rgba(var(--dm-color-black-rgb), 0.5);
    }
    > .icon {
      filter: drop-shadow(5px 5px 6px var( --dm-color-gray ));
      background-color: rgba( var( --dm-color-gray-darken-rgb ),0.8 );
      transition: all 0.3s ease-in-out;
    }
  }
  > .icon {
    @include flex-center();
    z-index: 1;
    padding: var( --dm-spacing-secondary );
    border-radius: 50%;
    width: 80px;
    height: 80px;
    filter: drop-shadow(0px 0px 0px var( --dm-color-gray ));
    background-color: rgba( var( --dm-color-gray-darken-rgb ),0.4 );
    transition: all 0.3s ease-in-out;

    > svg {
      @include svg-color( var( --dm-color-white ) );
      width: 80px;
      height: auto;
      max-width: 100%;
    }
  }
  > .name {
    @include dm-font-large();
    --dm-font-family: 'Matricode';
    --dm-text-large-color: var( --dm-color-white );
    font-weight: 500;
    text-align: center;
    z-index: 1;

  }
  @media only screen and (max-width: $screen-phone-large) {
    > .icon {
      width: 40px;
      height: 40px;
    }
    > .name {
      @include dm-font-big();
      --dm-text-big-color: var( --dm-color-white );
    }
  }
}
