#header .dm-logo {
  display: flex;
  align-items: center;
  gap: var(--dm-spacing-primary);
}

#header .dm-logo-img {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 3px solid var(--dm-color-white);
  overflow: hidden;
  background: var(---dm-color-primary  );
}

#header .dm-logo-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header .dm-logo-text {
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--dm-spacing-primary) / 2);
}
