.dm-popup {
  z-index: 99999;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba( var( --dm-color-black-rgb ) , 0.9 );
  transition: all 0.2s ease-in-out !important;
  animation-duration: 0.2s !important;
}

.dm-popup > .popup-content {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  padding: var( --dm-spacing-secondary );
  position: relative;
  overflow: hidden;
  animation-duration: 0.2s !important;
  transition: all 0.2s ease-in-out !important;
  animation-delay: 0.2s !important;
  transition-delay: 0.2s !important;
}

.dm-popup > .popup-content img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: calc(100vh - var( --dm-spacing-secondary ) * 2);
  cursor: zoom-in;
  transition: all 0.3s ease-in-out;
}

.dm-popup > .popup-content > .slider {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dm-popup > .popup-content > .slider > .slider-wrapper {
  height: 100%;
}

.dm-popup > .popup-content > .slider > .slider-wrapper > .slider-container {
  height: 100%;
}

.dm-popup > .popup-content > .slider > .slider-wrapper > .slider-container > .slider-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dm-popup > .popup-content > .slider > .slider-wrapper > .slider-container > .slider-element > img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-position: center;
  object-fit: contain;
  padding: var( --dm-spacing-primary );
}

.dm-popup > .popup-content > .slider > .slider-wrapper > .slider-container > .slider-element.full-size {
  display: block !important;
  overflow: auto !important;
  align-items: flex-start !important;
  transition: all 0s ease-in-out;
}

.dm-popup > .popup-content > .slider > .slider-wrapper > .slider-container > .slider-element.full-size > img {
  display: block !important;
  transform-origin: unset !important;
  transform: unset !important;
  width: auto !important;
  height: auto !important;
  max-width: none !important;
  max-height: none !important;
  object-fit: unset !important;
  overflow: auto !important;
  padding: 0px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  transition: all 0s ease-in-out;
}

.dm-popup > .popup-content > .popup-close-button {
  margin: 0 !important;
  border: none;
  height: inherit;
  cursor: pointer;
  padding: 6px var( --dm-spacing-secondary );
  font-weight: 800 !important;
  box-shadow: none;
  text-shadow: none;
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  justify-content: center;
  width: fit-content;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100px !important;
  border-radius: 100px !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-family: var(--dm-font-family);
  font-size: var(--dm-text-small-font-size);
  font-style: var(--dm-text-small-font-style);
  font-weight: var(--dm-text-small-font-weight);
  line-height: var(--dm-text-small-line-height);
  color: var(--dm-text-small-color);
  padding: var( --dm-spacing-primary );
  --dm-text-small-color: var( --dm-color-white );
  background-color: var( --dm-color-primary );
  border: 2px solid;
  border-color: var( --dm-color-primary );
  height: auto;
  z-index: 1;
  position: absolute;
  top: var( --dm-spacing-tertiary );
  right: var( --dm-spacing-tertiary );
}

.dm-popup > .popup-content > .popup-close-button > svg > path {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.dm-popup > .popup-content > .popup-close-button:hover {
  background-color: var( --dm-color-secondary );
  border-color: var( --dm-color-white );
}

.dm-popup > .popup-content > .popup-close-button:hover > svg {
  transform: rotate(90deg);
  transition: all 0.15s ease-in-out;
}

.dm-popup > .popup-content > .popup-close-button > svg {
  transform: rotate(0deg);
  transition: all 0.15s ease-in-out;
}

.dm-popup > .popup-content > .popup-close-button > svg[data-svg-type="fill"] > path {
  fill: var( --dm-color-white );
}

.dm-popup > .popup-content > .popup-close-button > svg[data-svg-type="stroke"] > path {
  stroke: var( --dm-color-white );
}

@media only screen and (max-width: 1240px) {
  .dm-popup > .popup-content > .popup-close-button {
    top: var( --dm-spacing-secondary );
    right: var( --dm-spacing-secondary );
  }
}

@media only screen and (max-width: 575px) {
  .dm-popup > .popup-content > .popup-close-button {
    top: var( --dm-spacing-secondary );
    right: var( --dm-spacing-primary );
  }
}

[data-popup="true"] {
  cursor: pointer;
}
