@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Roboto/robotoregular.ttf'); 
    font-display: swap;
    src: local(''),
         url('../fonts/Roboto/robotoregular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Roboto/robotoregular.woff2') format('woff2'), 
         url('../fonts/Roboto/robotoregular.woff') format('woff'), 
         url('../fonts/Roboto/robotoregular.ttf') format('truetype'), 
         url('../fonts/Roboto/robotoregular.svg#Roboto') format('svg'); 
}

@font-face {
    font-family: 'Gerth';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Gerth/gerthregular.ttf'); 
    font-display: swap;
    src: local(''),
         url('../fonts/Gerth/gerthregular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Gerth/gerthregular.woff2') format('woff2'), 
         url('../fonts/Gerth/gerthregular.woff') format('woff'), 
         url('../fonts/Gerth/gerthregular.ttf') format('truetype'), 
}

@font-face {
    font-family: 'Matricode';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Matricode/matricode.ttf'); 
    font-display: swap;
}

@font-face {
    font-family: 'Space Nation';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/SpaceNation/SpaceNation.ttf'); 
    font-display: swap;
}

