@import "theme";

header {
  .header-menu {
    .header-search-button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      text-decoration: none;
      padding: var(--dm-spacing-xxs);
      transition: all 0.3s ease-in-out;

      svg {
        width: 18px;
        height: 18px;
        transform: rotate(0deg);
        transition: all 0.3s ease-in-out;
      }

      [mode="dark"] & {
        svg {
          @include svg-color(var(--dm-color-white));
        }
      }
      [mode="light"] & {
        svg {
          @include svg-color(var(--dm-color-gray-dark));
        }
      }
      &.active {
        svg {
          @include svg-color(var(--dm-link));
          transform: rotate(80deg);
        }
      }
      &:hover {
        svg {
          @include svg-color(var(--dm-link));
          transform: rotate(90deg);
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
}
