#header {
  position: fixed;
  background-color: rgba(var(--dm-color-secondary-rgb), 1);
  color: #fff;
  width: 100%;
  min-height: 50px;
  height: 66px;
  display: flex;
  z-index: 999;
  margin: 0;
  padding: var(--dm-spacing-primary) 0;
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
}

#header > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--dm-spacing-secondary);
}

.dm-menu {
  display: flex;
  gap: var(--dm-spacing-secondary);
  align-items: center;
}

.dm-navbar-toggle {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .dm-navbar-toggle {
    display: flex;
  }
}
