@import "../variables/_colors";

:root {
  --dm-color-primary: #{$dm-color-primary};
  --dm-color-secondary: #{$dm-color-secondary};
  --dm-color-tertiary: #{$dm-color-tertiary};

  --dm-color-primary-100: #{$dm-color-primary-100};
  --dm-color-primary-200: #{$dm-color-primary-200};
  --dm-color-primary-300: #{$dm-color-primary-300};
  --dm-color-primary-400: #{$dm-color-primary-400};
  --dm-color-primary-500: #{$dm-color-primary-500};
  --dm-color-primary-600: #{$dm-color-primary-600};
  --dm-color-primary-700: #{$dm-color-primary-700};
  --dm-color-primary-800: #{$dm-color-primary-800};
  --dm-color-primary-900: #{$dm-color-primary-900};

  --dm-color-accent-1: #{$dm-color-accent-1};
  --dm-color-accent-2: #{$dm-color-accent-2};
  --dm-color-accent-3: #{$dm-color-accent-3};

  --dm-color-success: #{$dm-color-success};
  --dm-color-warning: #{$dm-color-warning};
  --dm-color-error: #{$dm-color-error};

  --dm-color-black: #{$dm-color-black};
  --dm-color-white: #{$dm-color-white};
  --dm-color-gray: #{$dm-color-gray};
  --dm-color-gray-light: #{$dm-color-gray-light};
  --dm-color-gray-dark: #{$dm-color-gray-dark};
  --dm-color-transparent: #{$dm-color-transparent};

  --dm-link: var(--dm-color-primary);
}
