@import "theme";

.dm-post-view {
  .device-layout-phone {
    filter: drop-shadow(
      6px 3px 6px color-mix(in srgb, var(--dm-color-black) 50%, transparent)
    );

    &.phone-model-01 {
      > .screen {
        top: 2%;
        top: 6%;
        left: 3%;
        width: 93%;
        height: 88%;
      }
    }

    &.phone-model-02 {
      > .screen {
        top: 12%;
        left: 5%;
        width: 90%;
        height: 75%;
      }
    }

    &.phone-model-03 {
      > .screen {
        top: 7.6%;
        left: 3.4%;
        width: 93%;
        height: 85%;
      }
    }
  }
  &.desktop-and-phone-devices {
    .device-layout-phone {
      position: absolute;
      right: 5%;
      bottom: -12%;
      width: 25%;
      z-index: 3;
    }

    @media only screen and (max-width: $dm-screen-sm) {
      .device-layout-phone {
        width: 38%;
      }
    }
  }
  &:not(.desktop-and-phone-devices) {
    .device-layout-phone {
      width: 38%;
      margin: auto;
    }
  }
}
